---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Développement </h2>
		<p>Maîtrise du HTML, CSS, JavaScript et des frameworks modernes. Passionnée par la création d'applications web réactives et intuitives.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="challenge" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Ouverte aux nouveaux défis</h2>
		<p>Prête à adopter de nouvelles technologies et à relever des défis complexes. Toujours en apprentissage et en évolution dans un environnement dynamique.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="flexibility" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Flexible et collaborative</h2>
		<p>Travaille efficacement en équipe avec d'excellentes compétences en communication. Capable de s'adapter à différents rôles et de collaborer pour atteindre les objectifs du projet.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
